@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body{
    background: url("background.jpg");
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20%;
}

.container{
    border-style: solid;
    border-width: 3px;
    border-color: #f5f5f5;
    border-radius: 15px;
    background: url("background.jpg");
    width: 350px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

h1{
    display: block;
    font-family: 'Montserrat';
    text-align: center;
}

label{
    display: block;
    font-family: 'Montserrat';
    text-align: left;
}